In [1]:
data = open("small.txt", 'r')

In [5]:

data.readline()

'   2.0000000e+00   8.2084817e-01   2.7969154e-01  -9.3380864e-01   5.3144612e-01  -2.8994726e-01   8.1788159e-02   7.1894153e-01  -2.5073776e-01  -2.2245984e+00   1.3935927e+00\n'

In [8]:
import pandas as pd

In [13]:

df = pd.read_fwf("small.txt",header=None)

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,2.0,0.820848,0.279692,-0.933809,0.531446,-0.289947,0.081788,0.718942,-0.250738,-2.224598,1.393593
1,2.0,-0.237337,0.123457,-0.147219,-0.169008,-1.906988,0.412150,-0.476520,0.049739,-0.578898,1.474495
2,2.0,-1.004144,-0.363469,-2.368783,0.188795,0.649362,-0.663043,-1.565937,1.278773,-1.497079,1.279087
3,2.0,-0.303728,-0.025726,-1.275006,-0.609765,0.306372,0.196949,0.181794,-1.684047,2.055845,0.769509
4,2.0,-0.750953,-1.433361,1.147996,1.286011,1.305121,0.664181,-0.815684,0.804744,-1.859179,-0.148197
...,...,...,...,...,...,...,...,...,...,...,...
495,1.0,-0.848163,-0.807881,-0.123273,-0.744263,0.467340,-1.309142,1.160015,0.187763,0.370519,-0.724006
496,2.0,0.055388,0.021084,0.559810,-0.503055,-0.968667,1.684491,-0.466378,1.370321,-1.093290,0.651534
497,2.0,-0.753129,-1.264581,-1.127424,-0.554393,-0.609218,-0.047186,0.094675,1.479021,-0.627702,1.044869
498,2.0,-0.231799,-0.276941,-2.064353,-2.093766,-0.616740,-0.390248,0.363341,0.715720,-2.027242,-1.694513
499,2.0,-0.011838,-0.465866,0.319968,-1.095462,-1.666040,-0.517896,1.286594,0.400324,-0.136945,-1.003354

In [23]:
df.at[0,0]

2.0

In [32]:
df.iloc[0,1:]

1     0.820848
2     0.279692
3    -0.933809
4     0.531446
5    -0.289947
6     0.081788
7     0.718942
8    -0.250738
9    -2.224598
10    1.393593
Name: 0, dtype: float64

In [33]:
df.iloc[0,1:].size

10

In [35]:
df.iloc[0:,[1,2,3]]

            1         2         3
0    0.820848  0.279692 -0.933809
1   -0.237337  0.123457 -0.147219
2   -1.004144 -0.363469 -2.368783
3   -0.303728 -0.025726 -1.275006
4   -0.750953 -1.433361  1.147996
..        ...       ...       ...
495 -0.848163 -0.807881 -0.123273
496  0.055388  0.021084  0.559810
497 -0.753129 -1.264581 -1.127424
498 -0.231799 -0.276941 -2.064353
499 -0.011838 -0.465866  0.319968

[500 rows x 3 columns]

In [36]:
df.iloc[0,[1,2,3]]

1    0.820848
2    0.279692
3   -0.933809
Name: 0, dtype: float64

In [51]:
df.iloc[0:,0].size

500