In [1]:
data = open("small.txt", 'r')

In [5]:

data.readline()

'   2.0000000e+00   8.2084817e-01   2.7969154e-01  -9.3380864e-01   5.3144612e-01  -2.8994726e-01   8.1788159e-02   7.1894153e-01  -2.5073776e-01  -2.2245984e+00   1.3935927e+00\n'

In [8]:
import pandas as pd

In [13]:

df = pd.read_fwf("small.txt",header=None)

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,2.0,0.820848,0.279692,-0.933809,0.531446,-0.289947,0.081788,0.718942,-0.250738,-2.224598,1.393593
1,2.0,-0.237337,0.123457,-0.147219,-0.169008,-1.906988,0.412150,-0.476520,0.049739,-0.578898,1.474495
2,2.0,-1.004144,-0.363469,-2.368783,0.188795,0.649362,-0.663043,-1.565937,1.278773,-1.497079,1.279087
3,2.0,-0.303728,-0.025726,-1.275006,-0.609765,0.306372,0.196949,0.181794,-1.684047,2.055845,0.769509
4,2.0,-0.750953,-1.433361,1.147996,1.286011,1.305121,0.664181,-0.815684,0.804744,-1.859179,-0.148197
...,...,...,...,...,...,...,...,...,...,...,...
495,1.0,-0.848163,-0.807881,-0.123273,-0.744263,0.467340,-1.309142,1.160015,0.187763,0.370519,-0.724006
496,2.0,0.055388,0.021084,0.559810,-0.503055,-0.968667,1.684491,-0.466378,1.370321,-1.093290,0.651534
497,2.0,-0.753129,-1.264581,-1.127424,-0.554393,-0.609218,-0.047186,0.094675,1.479021,-0.627702,1.044869
498,2.0,-0.231799,-0.276941,-2.064353,-2.093766,-0.616740,-0.390248,0.363341,0.715720,-2.027242,-1.694513
499,2.0,-0.011838,-0.465866,0.319968,-1.095462,-1.666040,-0.517896,1.286594,0.400324,-0.136945,-1.003354

In [23]:
df.at[0,0]

2.0

In [32]:
df.iloc[0,1:]

1     0.820848
2     0.279692
3    -0.933809
4     0.531446
5    -0.289947
6     0.081788
7     0.718942
8    -0.250738
9    -2.224598
10    1.393593
Name: 0, dtype: float64

In [33]:
df.iloc[0,1:].size

10

In [35]:
df.iloc[0:,[1,2,3]]

            1         2         3
0    0.820848  0.279692 -0.933809
1   -0.237337  0.123457 -0.147219
2   -1.004144 -0.363469 -2.368783
3   -0.303728 -0.025726 -1.275006
4   -0.750953 -1.433361  1.147996
..        ...       ...       ...
495 -0.848163 -0.807881 -0.123273
496  0.055388  0.021084  0.559810
497 -0.753129 -1.264581 -1.127424
498 -0.231799 -0.276941 -2.064353
499 -0.011838 -0.465866  0.319968

[500 rows x 3 columns]

In [36]:
df.iloc[0,[1,2,3]]

1    0.820848
2    0.279692
3   -0.933809
Name: 0, dtype: float64

In [51]:
df.iloc[0:,0].size

500

In [109]:
import math
summation = sum(a-b)
print(summation)

a = df.iloc[0, 1:3]

b = df.iloc[2, 1:3]

summation2 = 0
for i in range(b.size):
    k = i+1
    summation2 += ((a.at[k] - b.at[k]) **2)
    

print("summation 2: " + str(math.sqrt(summation2)))

2.4681526500000004
summation 2: 1.9350066257674545

In [106]:
a

1     0.820848
2     0.279692
3    -0.933809
4     0.531446
5    -0.289947
6     0.081788
7     0.718942
8    -0.250738
9    -2.224598
10    1.393593
Name: 0, dtype: float64

In [107]:
b

1    -1.004144
2    -0.363469
3    -2.368783
4     0.188795
5     0.649362
6    -0.663043
7    -1.565937
8     1.278773
9    -1.497079
10    1.279087
Name: 2, dtype: float64

In [86]:
print(b.at[1])

-1.0041435

In [110]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,2.0,0.820848,0.279692,-0.933809,0.531446,-0.289947,0.081788,0.718942,-0.250738,-2.224598,1.393593
1,2.0,-0.237337,0.123457,-0.147219,-0.169008,-1.906988,0.412150,-0.476520,0.049739,-0.578898,1.474495
2,2.0,-1.004144,-0.363469,-2.368783,0.188795,0.649362,-0.663043,-1.565937,1.278773,-1.497079,1.279087
3,2.0,-0.303728,-0.025726,-1.275006,-0.609765,0.306372,0.196949,0.181794,-1.684047,2.055845,0.769509
4,2.0,-0.750953,-1.433361,1.147996,1.286011,1.305121,0.664181,-0.815684,0.804744,-1.859179,-0.148197
...,...,...,...,...,...,...,...,...,...,...,...
495,1.0,-0.848163,-0.807881,-0.123273,-0.744263,0.467340,-1.309142,1.160015,0.187763,0.370519,-0.724006
496,2.0,0.055388,0.021084,0.559810,-0.503055,-0.968667,1.684491,-0.466378,1.370321,-1.093290,0.651534
497,2.0,-0.753129,-1.264581,-1.127424,-0.554393,-0.609218,-0.047186,0.094675,1.479021,-0.627702,1.044869
498,2.0,-0.231799,-0.276941,-2.064353,-2.093766,-0.616740,-0.390248,0.363341,0.715720,-2.027242,-1.694513
499,2.0,-0.011838,-0.465866,0.319968,-1.095462,-1.666040,-0.517896,1.286594,0.400324,-0.136945,-1.003354

In [117]:
df2 = df.iloc[0:20, :]

In [118]:
df2[1].values[:] = 0

In [121]:
df2

,0,1,2,3,4,5,6,7,8,9,10
0,2.0,0.0,0.279692,-0.933809,0.531446,-0.289947,0.081788,0.718942,-0.250738,-2.224598,1.393593
1,2.0,0.0,0.123457,-0.147219,-0.169008,-1.906988,0.412150,-0.476520,0.049739,-0.578898,1.474495
2,2.0,0.0,-0.363469,-2.368783,0.188795,0.649362,-0.663043,-1.565937,1.278773,-1.497079,1.279087
3,2.0,0.0,-0.025726,-1.275006,-0.609765,0.306372,0.196949,0.181794,-1.684047,2.055845,0.769509
4,2.0,0.0,-1.433361,1.147996,1.286011,1.305121,0.664181,-0.815684,0.804744,-1.859179,-0.148197
5,2.0,0.0,-0.851389,0.134183,0.231321,-0.008353,0.084643,-2.665728,0.682285,-0.753961,-0.030348
6,2.0,0.0,0.716731,1.071499,1.630986,1.108574,-0.153973,-0.006238,1.830425,0.041680,-1.381613
7,2.0,0.0,-1.576544,1.119247,-0.494410,-0.427776,1.156893,0.802127,3.205101,-0.458373,0.425742
8,2.0,0.0,0.737154,0.260962,-0.029296,-1.160268,-1.278653,0.787029,0.612016,0.906516,-0.520445
9,2.0,0.0,-0.179394,0.762050,0.471370,-0.094831,-1.179684,0.151784,-0.057114,-0.645721,-0.607007
10,2.0,0.0,-0.526129,0.149031,0.806586,-0.639835,-1.488777,-0.284936,-1.989896,-0.100040,0.097147
11,2.0,0.0,1.867735,0.039684,-0.409617,0.300956,-0.003657,0.222387,-1.124298,-0.284474,-0.149929
12,1.0,0.0,0.066398,0.348365,-1.173622,0.344907,0.699219,1.363612,-0.779711,0.493826,-0.392434
13,2.0,0.0,0.222913,1.631450,-0.463838,-1.504095,1.587636,0.862812,-0.335517,0.051015,-0.709652
14,1.0,0.0,-0.655270,1.679172,1.403935,0.635458,1.005917,-0.136143,-0.620423,0.102411,-1.368184
15,2.0,0.0,-0.985480,1.197160,0.706332,0.827719,0.174004,-0.528514,-0.780731,0.350288,-0.127819
16,2.0,0.0,0.424499,-1.757335,1.708671,0.600923,1.545438,1.861811,1.930119,0.840923,-0.393351
17,2.0,0.0,0.067414,1.973274,0.341664,-0.412918,0.346584,1.182504,-0.492413,1.025340,-2.294236
18,1.0,0.0,-0.286688,0.147491,2.670554,0.771204,-1.067462,-0.572670,0.260542,1.818048,0.681826
19,2.0,0.0,-0.736537,-0.081876,0.006226,-0.620041,-0.847593,0.838189,0.702851,0.578216,0.472740